  .opening--main {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 800px;
  }

.opening--main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .opening--main__content--paragraph {
    font-size: 24px;
    color: aliceblue;
    margin: 10px 0;
    z-index: 2;
  }

  .opening--main__content {
    position: absolute;
    width: 100%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
  }



  .opening--separator {
    position: absolute;
    top: 650px;
    width: 100%;
    height: 300px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0.04) 100%);
    z-index: 2;
  }


  .cards{
    width: 100%;
    height: 200vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    position: relative;
  }
  .cards__video{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .cards__container-cards{
    width: 90%;
    height: 95%;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    border-radius: 1rem;
    background: linear-gradient(90deg, rgba(0,0,0,0.7245098723082983) 0%, rgba(0,0,0,0.4640056706276261) 100%, rgba(0,0,0,0) 100%);
  }
  .container-cards__row{
    width: 100%;
    height: calc(90% / 2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .row__container-resource{
    width: calc(80% / 3);
    height: 85%;
  }
  .container-cards__row--letter-top{
    display: none;
  }
  .container-resource__image,
  .container-resource__video{
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  .container-cards__row--letter-top,
  .container-cards__row--letter-middle{
    margin: 0;
    text-align: center;
    font-size: 120px;
    color: white;
  }
  .container-cards__row__text{
    font-family: "Abhaya Libre", serif;
  }

  /* ---- MEDIA QUERY ---- */
  /* RESOLUTION 320px*/
  @media (min-width: 319px) {
    .container-video__mobile-video{
      width: 100%;
      height: 100%;
    }
    .opening--text h3 {
      font-size: 18px;
      padding: 20px 25px;
    }

    .opening--cards--Data {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      margin: 90px 0px;
    }

    .opening--cards__text--h2 {
      font-size: 1.6rem;
      padding: 0px 25px;
    }

    .opening--cards--Data__content--img {
      width: 315px;
    }
  }
  @media (max-width:480px){
    .cards{
      height: min-content;
    }
    .cards__container-cards{
      width: 100%;
      height: 100vh;
      position: relative;
      flex-direction: row;
      transition: all 0.5s;
    }
    .container-cards__row{
      flex-direction: column;
    }
    .container-cards__row--letter-top{
      width: 100%;
      height: 50px;
      border: red solid 1px;
      position: absolute;
      top: 0;
      z-index: 2;
    }
    .container-cards__row--images{
      width: 100%;
      height: auto;
      padding: 4rem 0;
    }
    .container-resource__image,
    .container-resource__video{
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
    .container-cards__row__text{
      font-size: 48px;
    }
    .row__container-resource{
      width: 100%;
      height: calc(100% / 3);
      padding: 12px;
    }
    .container-cards__row--letter{
      position: absolute;
    }
    .container-cards__row--letter-middle{
      display: none;
    }
  }

  @media (min-width:480px) {
    .opening--hero__top--text--h2 {
      padding: 0px 70px
    }

    .opening--cards--Data {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      margin: 90px 0px;
    }

    .opening--text h3 {
      font-size: 18px;
      padding: 20px 35px
    }

    .opening--cards__text--h2 {
      font-size: 1.6rem;
      padding: 0px 35px
    }

    .opening--cards--Data__content--img {
      width: 450px;
    }
    /* .cards__container-cards{
      width: 80%;
    } */
  }

  @media (min-width:600px) {
    /* .cards__container-cards{
      flex-direction: column;
    }
    .container-cards__row{
      flex-direction: row;
    }
    .row__container-resource{
      height: 100%;
    }
    .container-cards__row--letter-top{
      display: none;
    } */



    .opening--hero__top--text--h2 {
      font-size: 26px;
      padding: 0px 120px;
      margin-bottom: 50px;
    }

    .opening--cards--Data {
      grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
      margin: 90px 0px;
    }

    .opening--cards__text--h2 {
      font-size: 26px;
      padding: 0px 35px
    }

    .opening--cards--Data__content--img {
      width: 510px;
    }
  }

  @media (min-width:801px) {
    .opening--hero__top--text--h2 {
      font-size: 30px;
      padding: 0px 200px;
      margin-bottom: 50px;
    }
    .opening--cards--Data {
      grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
      margin: 90px 0px;
    }

    .opening--text h3 {
      font-size: 18px;
      padding: 20px 35px
    }

    .opening--cards__text--h2 {
      font-size: 35px;
      padding: 0px 35px
    }

    .opening--cards--Data__content--img {
      width: 700px;
    }
  }

  @media (min-width:1025px) {
    .opening--hero__top--text--h2 {
      font-size: 40px;
      padding: 0px 200px;
      margin-bottom: 50px;
    }

    .opening--cards--Data {
      grid-template-columns: repeat(auto-fit, minmax(620px, 1fr));
      margin: 90px 0px;
    }

    .opening--text h3 {
      font-size: 25px;
      padding: 20px 70px
    }

    .opening--cards__text--h2 {
      font-size: 40px;
      padding: 0px 40px
    }

    .opening--cards--Data__content--img {
      width: 800px;
    }

  }

  @media (min-width:1281px) {
    .opening--hero__top--text--h2 {
      font-size: 48px;
      padding: 0px 350px;
      margin-bottom: 50px;
    }

    .opening--cards--Data {
      margin: 90px 0px;
    }

    .opening--text h3 {
    font-size: 32px;
    padding: 20px 90px;
    }
    
    .opening--cards__text--h2 {
      font-size: 48px;
      padding: 0px 40px
    }

    .opening--cards--Data__content--img {
      width: 580px;
    }
  }

  @media(max-width:600px) {
    .opening--main__content--paragraph {
      font-size: 18px;
    }
  }

  @media(max-width:440px) {
    .opening--main__content--paragraph {
      font-size: 14px;
    }
  }

  @media(max-width:380px) {
    .opening--main__content--paragraph {
      font-size: 12px;
    }
  }

  @media (min-width:1000px) {
    .opening--main video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }